* {
  font-size: 14px;
  font-family: Arial, sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#container {
  width: 100%;
  height: 100%; }
